<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.rbac.mapper.RbacGroupMapper">
    <resultMap id="BaseResultMap" type="org.dows.rbac.entity.RbacGroupEntity">
        <id column="rbac_group_id" jdbcType="BIGINT" property="rbacGroupId"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="group_code" jdbcType="VARCHAR" property="groupCode"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="resource_ids" jdbcType="VARCHAR" property="resourceIds"/>
        <result column="resource_table" jdbcType="VARCHAR" property="resourceTable"/>
        <result column="resource_type" jdbcType="INTEGER" property="resourceType"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="ver" jdbcType="INTEGER" property="ver"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
    </resultMap>
    <sql id="Base_Column_List">
        `rbac_group_id`
        , `group_name`, `group_code`, `description`, `app_id`, `resource_ids`, `resource_table`,
        `resource_type`, `state`, `ver`, `deleted`, `ts`
    </sql>

</mapper>